@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbarGradient {
    background: #54b5fa;
    background: -webkit-linear-gradient(82deg, #54b5fa 0%, #7a69d6 30%, #c330a2 100%);
    background: linear-gradient(82deg, #54b5fa 0%, #7a69d6 30%, #c330a2 100%);
}